@charset "utf-8";
/* CSS Document */

/*画像間の上下余白*/
.contentsImage{
	padding-bottom: 20px;
}
.contents ul li {
	max-width: 450px;
	padding-bottom:20px;
}
.contents ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 972px;
}
.subContents p:nth-child(odd) {
	font-weight: bold;
	font-size: 110%;
}
.subContents p:nth-child(even) {
	padding-bottom: 10px;
}
.subContents {
	width: 100%;
}

}
 @media screen and (max-width: 480px) {
.contents {
	text-align: left;
}
}
