@charset "utf-8";
/* CSS Document */

.contents {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-bottom: 0px;
}
.contents img {
	padding-bottom: 20px;
}
.contents p {
	max-width: 470px;
	line-height: 2em;
	padding: 0 0 10px 20px;
}
.contents span {
	font-size: 120%;
	font-weight: bold;
}
